extends layout

block content
  h1= title

  ul
    each jurisdiction in jurisdiction_list
      li
        a(href=jurisdiction.url) #{jurisdiction.name}
        
    else
      li There are no jurisdictions.
