extends layout

block content
  h1= title

  form(method='POST' action='/log-in') 
    div.form-group
      label(for="username") Username:   
      input#username.form-control(type="text", placeholder="Username" name="username" required="true" value=(undefined===user ? '' : user.username) ) 
 
      label(for="password") Password:   
      input#password.form-control(type="password", placeholder="Password" name="password" required="true" value=(undefined===user ? '' : user.password) ) 

    button.btn.btn-primary(type="submit") Log In
    
  if messages 
    p Last Login Attempt Error: #{messages[messages.length - 1]}