extends layout 

block content 
    h1 #{title}

    h2 #{source.name}

    if user
        if user.creatorPrivilege
            p Do you really want to delete this source?

            form(method='POST' action='') 
                div.form-group  
                    input#sourceid.form-control(type='hidden', name='sourceid', required='true', value=source._id)
                button.btn.btn-primary(type='submit') Delete 

        else 
            p You do not have privileges to delete categories.
    else 
        p Log in to access this page.