extends layout 

block content 
    h1 #{title} 

    p #[strong First Name:] #{user.firstName}
    p #[strong Last Name:] #{user.lastName} 
    p #[strong Creatory Privilege:] #{user.creatorPrivilege}
